[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-credit-management.git
[submodule "docs/bylaw"]
	path = docs/bylaw
	url = https://github.com/quanttide/quanttide-bylaw-of-credit-management.git
[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-credit-management.git
